<div *ngIf = "!isLogged">
    <img mat-card-image class = "loading" src="./assets/images/loading.gif" alt="loading gif">
</div>

<div *ngIf = "isLogged">
  <mat-card class="example-card">
    <mat-card-content>
      <h1 *ngIf = "name == ''">Welcome {{ name }}!</h1>  
      <h1 *ngIf = "user != null">Welcom {{ user.displayName }}!</h1>
      <p>This is the welcome page :)</p>
      <img mat-card-image src="./assets/images/hello.gif" alt="Photo of a Shiba Inu">
      <button mat-raised-button
              (click)="onLogout()">
              <span class="fas fa-sign-out-alt"></span>
              Logout
      </button>
    </mat-card-content>
  </mat-card>
</div>



